

.square-img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    float: left;
}

.rotate {
    animation: rotation 10s infinite linear;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

h1{
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 80px;
	width: 90%;

}

.at {
    margin-left: 250;
    font-size: 100;
    width:auto;
}

.typed-cursor {
	opacity: 100%;
}

.header{
	height: 220px;

}