h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 80px;
    width: 90%;
}

.at {
    margin-left: 250;
    font-size: 100;
    width: auto;
}

.typed-cursor {
    opacity: 100%;
}

.header {
    height: 220px;
}