/* Base CSS from https://thesephist.com/ */

html,
body {
    transition: 0.2s;
    margin: 0;
    padding: 0;
    padding-top: 3vh;
    box-sizing: border-box;
    --font-h: 'Lato', sans-serif;
    --font-serif: 'Times N', sans-serif;
    --font-mono: 'Menlo', 'Monaco', monospace;
    /* default light-mode colors */
    --foreground-light: #778;
    --background-default: #f8f8f8;
    --background-block: #eee;
    --background-hero: #222;
    --accent: #333333;
    --accent-transparent: rgba(235, 182, 165, .2);
    --done: rgba(71, 255, 60, 0.3);
    --working: rgba(255, 200, 60, 0.4);
    --broken: rgba(255, 71, 60, 0.3);
    --done-light: rgba(71, 255, 60, 0.1);
    --working-light: rgba(255, 200, 60, 0.2);
    --broken-light: rgba(255, 71, 60, 0.1);
    --shadow: rgba(0, 0, 0, 0.14);
    --project-card-outline: #dbdbdb;
    --a: rgba(235, 175, 175, 0.45);
    --a-hover: rgba(235, 175, 175, 0.75);
}

html {
    --bbackground: white;
    --foreground-default: #222;
    /* adjust rem for page */
    font-size: 18px;
}

body {
    font-family: var(--font-serif);
    background-color: var(--bbackground);
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}


/* MIDDLE */

.overlay {
    max-width: unset;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 15px;
}

iframe,
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;
    padding: 5px;
    border: var(--foreground-default) 2px solid;
    transition: 0.2s;
}

iframe:hover,
img:hover {
    box-shadow: 0 10px 12px 0 var(--foreground-default), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}

figcaption {
    font-style: italic;
    margin: 0px;
    margin-left: 10px;
    font-size: 0.9rem;
    color: gray;
}


/* TYPOGRAPHY */

h1,
h2,
h3 {
    font-family: var(--font-h);
    font-weight: normal;
    line-height: 1.325em;
    color: var(--foreground-default);
    margin-top: 1em;
    margin-bottom: 0.8em;
    display: inline-block;
    transition: 0.2s
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

p,
li {
    font-size: 1rem;
    line-height: 1.625em;
    margin: 1em 0;
    margin-top: 0;
}

.desktop {
    display: none !important;
}

@media only screen and (min-width: 600px) {
    .overlay {
        max-width: 700px;
    }
    h1,
    h2,
    h3 {
        margin-top: 0.5em;
        margin-bottom: 0.3em;
    }
    .desktop {
        display: initial !important;
    }
    .mobile {
        display: none !important;
    }
}

::selection {
    background-color: #2226;
    color: white;
}


/* LINKS */

a {
    text-decoration: none;
    padding: 0 3px;
    border-radius: 3px;
    color: black;
    transition: 0.4s;
    background: var(--a);
}

.done a {
    background: var(--done-light);
}

.working a {
    background: var(--working-light);
}

.broken a {
    background: var(--broken-light);
}

a:hover {
    background: var(--a-hover);
    cursor: pointer;
    box-shadow: 0 10px 12px 0 var(--shadow), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}

#general-links {
    display: table;
    margin: auto;
}

#general-links a {
    margin: 10px;
}

.fa {
    margin-right: 3px;
}


/* THEME BUTTON */

#change-theme-btn {
    float: right;
    cursor: pointer;
    border-bottom: 0px;
    margin-right: 1rem;
    color: #fffa;
}

#change-theme-btn:hover {
    color: #ffff;
}


/* PROJECTS */

.key-holder {
    width: 4.5rem;
    display: inline-block;
    margin-left: 0.4rem;
    vertical-align: middle;
    margin-bottom: 0.6rem;
    padding: 0.2rem;
    border: 1px solid var(--project-card-outline);
    border-radius: 4px;
    transition: 0.3s;
    vertical-align: middle;
    height: 1.15rem;
}

.key-holder i {
    margin: 0px;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 0.8rem;
    padding: 0px;
    position: absolute;
    vertical-align: middle;
}

.key-holder:hover {
    cursor: pointer;
}

.square {
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 1px solid var(--project-card-outline);
    border-radius: 8px;
}

span.done {
    background-color: var(--done);
}

span.working {
    background-color: var(--working);
}

span.broken {
    background-color: var(--broken);
}

.key-holder:hover {
    box-shadow: 0 10px 12px 0 var(--shadow), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}

.key-holder.done {
    background: linear-gradient(90deg, var(--done) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.key-holder.working {
    background: linear-gradient(90deg, var(--working) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.key-holder.broken {
    background: linear-gradient(90deg, var(--broken) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.project-holder {
    background-color: #fff;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border: 1px solid var(--project-card-outline);
    border-radius: 8px;
}

.project-holder:hover {
    box-shadow: 0 10px 12px 0 var(--shadow), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    transition: 0.2s;
}

.project-title {
    margin-top: 0px;
    margin-bottom: 0.3rem;
    font-style: bold;
}

.project-description {
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.project-links {
    margin-top: 0.2rem;
}

.project-links a {
    margin-left: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.project-holder.done {
    background: red;
    background: linear-gradient(150deg, var(--done) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%);
}

.project-holder.working {
    background: linear-gradient(150deg, var(--working) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%);
}

.project-holder.broken {
    background: linear-gradient(150deg, var(--broken) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%);
}


/* PROJECT STORY */

.story-update {
    margin-left: 2vw;
}