#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.selected {
  position: sticky;
  top: 0;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
.item {
  padding: 8px 8px;
  margin: 0px 4px;
  width: 30vw;

  box-sizing: border-box;

  position: absolute;

  background: rgba(251, 251, 251, 0.37);
  border: 1px solid #ffffff00;
  border-radius: 7px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  text-align: left;
  cursor: pointer;

  transition: border 0.3s;
}

.item:hover {
  border: 1px solid #e3e3e3;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 70vh;

  box-sizing: border-box;

  background: rgba(241, 241, 241, 0.5);
  border: 1px solid #f3f3f3;
  border-radius: 7px;
  padding: 1rem;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
